project_name      = "corefit"
aws_region        = "ap-south-1"
django_secret_key = "replace-with-a-long-random-string"

# Optional: override ECS IAM role (defaults to account service-linked style role)
# ecs_shared_iam_role_arn = "arn:aws:iam::312408089469:role/aws-service-role/ecs.amazonaws.com/AWSServiceRoleForECS"
