@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'MADE Outer Sans';
    src: url('/assets/fonts/MADE-Outer-Sans.woff2') format('woff2'),
         url('/assets/fonts/MADE-Outer-Sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
   */